Max Neunhoeffer <neunhoef@mcs.st-and.ac.uk> neunhoef <neunhoef@5677d0f2-6218-0410-8d9a-cb2832bab148>
Alexander Hulpke <hulpke@math.colostate.edu> ahulpke <ahulpke@5677d0f2-6218-0410-8d9a-cb2832bab148>
James Mitchell <jenkyfunds@gmail.com> jamesm <jamesm@5677d0f2-6218-0410-8d9a-cb2832bab148>